<h1>Admin</h1>

<h2>Users</h2>
<table border="1">
<% @users.each do |user| %>
	<tr>
		<td><%= user[0] %></td>
		<td><%= user[1] %></td>
	</tr>
<% end %>
</table>

<h2>Add user</h2>
<form method="post" action="/add_user">

User name: <input name="username"><br>
Password: <input type="password" name="password"><br>
<input type="submit">

</form>