<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <script src="/jquery.js"></script>
	<script src="/bootstrap.js"></script>
	<script src="/hyter.js"></script>
	
	
	<title>DepRefSet</title>
</head>
<body>

	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">DepRefSet - <%= @user %></a>
          <ul class="nav">
            <li><a href="/logout">logout</a></li>
            <li id="zoom-settings" style="padding-top: 12px;"></li>
          </ul>
          <div class="nav pull-right" id="top-right">
          </div>
        </div>
      </div>
    </div>

    <br><br><br>

  <div id="annotation-navigation">
  <h2>Annotations</h2>
  <table class="table">
  <% @annotations.each do |a| %>
    <% if a[4] == nil %>
      <tr>
        <td>
          <a href="#" data-id="<%= a[0] %>" class="saved-annotation"><%= a[2] %></a>
        </td>
        <td>
          <form method="post" action="/remove_result" onsubmit="return confirm('Really want to delete this annotation?')">
            <input type="hidden" name="sentence" value="<%= a[2] %>">
            <input type="submit" value="Delete" class="btn btn-danger btn-small" style="height: 20px;
            margin: 0px; padding: 2px;">
          </form>
        </td>
      </tr>
    <% end %>
  <% end %>
  </table>
  <button class="btn btn-submit" id="new-annotation">Create new annotation</button>
  <br><br>
  <h2>Documents</h2>
  <div><a href="/guide.html">User guide</a></div>
  </div>

  <div id="annotation-app">
    <div class="contain" id="content">
      <div id="sentence">

      </div>
      <b>Reference translation: </b>
      <div id="reference"></div>
      <div id="clouds">

      </div>

    </div>

    <div id="bottom-empty-block"></div>
    <div id="bottom-menu" class="tabbable">
      <ul class="nav nav-tabs" style="margin: 0px 20px 0px 20px;">
        <li class="active"><a href="#results" data-toggle="tab" id="results-name">Results</a></li>
        <li><a href="#diff" data-toggle="tab" id="diff-name">Diff</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="results"></div>
        <div class="tab-pane fade" id="diff"></div>
      </div>
    </div>
  </div>

</body>
</html>
