
@gray: #ccc;

.radius {
	border-radius: 5px;
}

.gradient {
	background: #dddddd;
	background-image: -moz-linear-gradient(bottom, #dddddd 0%, #f6f6f6 100%);
	background-image: linear-gradient(to top, #dddddd 0%, #f6f6f6 100%);
	background-image: -webkit-linear-gradient(bottom, #dddddd 0%, #f6f6f6 100%);
}

.inner-shade {
	box-shadow: 0px 0px 5px #ccc inset;
}

.word {
	color: #aaa;
	padding: 2px;
}

.word-selected {
	background: #111;
	color: #EEE;
	border-bottom: 2px solid #111;
}

.word:hover {
	cursor: pointer;
	background: #EEE;
	border-bottom: 2px solid #111;
}

.word-selected:hover {
	background: #000;
}

.tiny-button {
	padding: 0px;
	width: 15px;
	height: 15px;
}

.textareas {
	.inner-shade();
	.radius();
	outline: none;
	resize: none;
	border: 1px solid @gray;
}

.constraints {
	width: calc(~"100% - 10px");
	width: -webkit-calc(~"100% - 10px");
	width: -moz-calc(~"100% - 10px");
	min-height: 40px;
	.textareas();
}

.target {
	.radius();
	border: 1px solid @gray;
	width: calc(~"100% - 10px");
	width: -webkit-calc(~"100% - 10px");
	width: -moz-calc(~"100% - 10px");
	min-height: 40px;
	background: white;
	padding: 5px 5px;
	.gradient();
	text-align: center;
	line-height: 50px;
}

.slot {
	margin: 0px 3px;
	.textareas();
	border-radius: 0px;
	box-shadow: none;
	box-shadow: 0px 0px 5px #ccc;
	background: #f5f5f5;
}

.atom {
	margin: 0px 3px;
	.textareas();
}

.cloud {
	.radius();
	border: 1px solid @gray;
	margin: 5px 0px;
	padding: 5px 5px;
	.gradient();
}

@bottom_height: 300px;

#bottom-empty-block {
	width: 100%;
	height: @bottom_height;
}

#bottom-menu {
	background: #f6f6f6;
	border-top: 2px solid black;
	width: 100%;
	height: @bottom_height;
	bottom: 0px;
	position: fixed;
	/*box-shadow: 0px -2px 2px #fff;*/
	padding-top: 5px;
}

.tab-pane {
	background: white;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px;
	margin: 0px;
	overflow: auto;
	height: (@bottom_height - 55px);
	margin: 0px 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}